@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-body-font-size: 13px; /* Adjust as needed */
    --bs-body-font-weight: 200; /* Adjust as needed */
    --bs-body-bg:#a5c8ec;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);

    background-color: #a5c8ec;

}
.whatsapp-button {
    display: inline-block;
    background-color: #25d366; /* WhatsApp green color */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.whatsapp-button img {
    vertical-align: middle;
    margin-right: 10px;
}
/* Define font weights and styles */
.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('bg1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Make the navbar sticky */
.navbar.n{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255) /* Add background color */
}

.navbar-nav .nav-item .nav-link:hover {
    color: brown;
}

.container.home{
    position: relative;
    width: 90%;
    margin-top: 100px;
    background-color: #5f96a040;
    border-radius: 20px;
    background-size: cover;
    backdrop-filter: blur(3.0px); /* Adjust the blur intensity */
}

.services{
    position: relative;
    width: 100%;
    margin-top: 60px;
    background-color: #ffffff9f;
    background-size: cover;
    backdrop-filter: blur(2.5px); /* Adjust the blur intensity */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#my-svg {
    animation: fade-in 1s ease-in-out infinite; /* Adjust animation duration and timing function as needed */
    margin-top: 10px;
    margin-bottom: 30px;
}

html {
    scroll-behavior: smooth;
}

.card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px); /* Lift up effect on hover */
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
    color: white; /* Text color for the overlay */
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .card:hover .card-img-overlay {
    background: rgba(0, 0, 0, 0.5); /* Darken the background on hover */
    color: white; /* Text color on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow on hover */
  }

  .col-md-4.col-xs-12{
    margin-bottom: 18px;
  }

  .container.aboutusinhome{
    background:#f6f6f6;
    padding: 30px;
  }
